.advantages-card {
  width: 100%;
  padding: 30px 20px;

  color: $darkest-gray;

  background-color: $light-gray;
}

.advantages-card--invert {
  padding-top: 40px;
  padding-bottom: 40px;

  color: $white;

  background-color: $light-blue;
}

.advantages__item:first-child .advantages-card {
  padding-top: 60px;
}

.advantages-card__title:not(.advantages-card--invert .advantages-card__title) {
  color: $black;
}

.advantages-card__title {
  @include font();

  margin-top: 0;
  margin-bottom: 15px;
}

.advantages-card__number {
  display: block;
  margin-bottom: 15px;
}

.advantages-card__text {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-card__number,
.advantages-card__text {
  line-height: 21px;
}


.advantages-card__image {
  display: block;
  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;

  object-fit: cover;
  object-position: center;
}

.advantages__item:not(.advantages__item--with-photo) + .advantages__item {
  border-top: 1px solid rgba($black, 0.1);
}
