.advantages-card {
  width: 100%;
  padding: 25px 20px 30px;

  color: $darkest-gray;

  background-color: $lighter-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }

  .advantages__item--with-photo & {
    @media (min-width: $tablet-width) {
      flex-basis: calc(100% - 512px);
    }

    @media (min-width: $desktop-width) {
      flex-basis: calc(100% - 800px);
    }
  }
}

.advantages-card--invert {
  padding-top: 40px;
  padding-bottom: 40px;

  color: $white;

  background-color: $light-blue;

  @media (min-width: $desktop-width) {
    padding-top: 35px;
  }
}

.advantages__item:first-child .advantages-card {
  @media (max-width: $mobile-width) {
    padding-top: 60px;
  }
}

.advantages-card__title:not(.advantages-card--invert .advantages-card__title) {
  color: $black;
}

.advantages-card__title {
  @include font();

  margin-top: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    font-size: 21px;
  }
}

.advantages-card__number {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages-card__text {
  max-width: 250px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 165px;
  }

  @media (min-width: $desktop-width) {
    max-width: 265px;
  }

  .advantages-card--invert & {
    @media (max-width: $mobile-width) {
      max-width: 270px;
    }
  }

  .advantages__item:nth-child(4) & {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      max-width: 145px;
    }
  }

  .advantages__item:nth-child(2) & {
    @media (min-width: $desktop-width) {
      max-width: 230px;
    }
  }

  .advantages__item:nth-child(3) & {
    @media (min-width: $desktop-width) {
      max-width: 300px;
    }
  }
}

.advantages-card__number,
.advantages-card__text {
  line-height: 21px;
}

.advantages-card__image {
  display: block;
  width: 100%;
  height: 260px;

  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__item:not(.advantages__item--with-photo) + .advantages__item {
  border-top: 1px solid rgba($black, 0.1);
}
