.button {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @include font($fz: 21px);
  font-family: $font-family;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $blue-1;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  appearance: none;

  &:hover,
  &:focus {
    background-color: $blue-2;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: rgba($white, 0.3);

    background-color: $blue-3;
  }

  &:disabled,
  &--disabled {
    background-color: $gray-3;
  }
}
