.contacts {
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    text-align: left;
  }
}

.contacts__link {
  @include font($fz: 21px);

  color: $black;

  transition: color $transition-time;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: $light-blue;
  }

  &:active {
    color: rgba($black, 0.3);
  }
}
