.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 25px;

  background-color: $white;
}

.footer__dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  color: $black;

  &:focus {
    outline: none;
  }
}

.footer__dev-text {
  padding-right: 10px;

  line-height: 26px;
}

.footer__dev-svg {
  transition: color 0.3s;

  .footer__dev:hover &,
  .footer__dev:focus & {
    color: $blue-1;
  }

  .footer__dev:active & {
    color: rgba($black, 0.3);
  }
}
