@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("fonts/ptsansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-family: $font-family;
  text-transform: uppercase;
  color: $black;

  background-color: $lightest-gray;
}
