.headline {
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}

.headline__title {
  @include font();

  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.headline__text {
  @include font($fz: 14px, $fw: 400);

  margin-top: 0;
  margin-bottom: 0;

  color: $darkest-gray;
}
