.header__inner {
  position: relative;

  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;

  background-color: $white;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.header__navigation {
  position: relative;
}

.header__button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: $z-index;

  width: 23px;
  height: 22px;
  margin-left: auto;
  padding: 0;

  color: $light-blue;

  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: color $transition-time;

  appearance: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: rgba($light-blue, 0.6);
  }

  &:active {
    color: rgba($light-blue, 0.3);
  }

  &--active {
    color: $white;
  }

  &--active:hover,
  &--active:focus {
    color: rgba($white, 0.6);
  }

  &--active:active {
    color: rgba($white, 0.3);
  }
}

.header__button-line {
  position: relative;

  display: block;
  width: 100%;
  height: 4px;

  background-color: currentColor;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: currentColor;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }

  .header__button--active & {
    background-color: transparent;
  }

  .header__button--active &::before {
    transform: translateY(8px) rotate(45deg);
  }

  .header__button--active &::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header__logo {
  position: relative;
  z-index: $z-index;

  display: block;
  width: 102px;
  height: 83px;
  margin-right: auto;
  margin-bottom: -25px;
  margin-left: auto;

  background: url("../img/logo-sedona-mobile.svg") no-repeat center;
  background-size: 102px 83px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: calc(768px / 2 - 51px);

    background-image: url("../img/logo-sedona-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    left: calc(1200px / 2 - 93px);

    width: 186px;
    height: 96px;

    background-image: url("../img/logo-sedona-desktop.svg");
    background-size: 186px 96px;
  }

  &:focus {
    outline: 2px dashed $light-blue;
  }
}
