.index-banner__inner {
  @include container();

  background-color: $light-blue;

  overflow: hidden;
}

.index-banner__image-wrapper {
  position: relative;

  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;

    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    bottom: 0;
    left: 0;

    width: 100%;
    height: 26px;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-size: cover;

    @media (min-width: $tablet-width) {
      height: 57px;

      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 40px);
    max-width: 460px;

    background-image: url("../img/text-sedona-index.svg");
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: calc(50% - 7px);
    }
  }
}

.index-banner__image {
  display: block;
  width: 100%;
  height: 390px;

  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    height: 518px;
  }
}
