.map__inner {
  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}
