.photos__inner {
  @include container();

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.photos__headline {
  padding-top: 40px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.photos .headline__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.photos__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.photos__item {
  @media (min-width: $tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: calc(100% / 3);
  }

  &--wide {
    @media (min-width: $tablet-width) {
      flex-basis: 100%;
    }
  }
}
