.review__inner {
  @include container($dw: 960px);

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.review__headline {
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.review__form {
  padding-bottom: 45px;

  @media (max-width: $mobile-width) {
    padding-top: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 60px;
  }
}

.review__fieldset {
  position: relative;

  margin-right: 0;
  margin-left: 0;

  border: none;

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    padding: 0 20px 25px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $gray;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  &--opinion {
    @media (min-width: $tablet-width) {
      order: 1;
      flex-basis: 50%;
      margin-right: auto;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 0;
        right: 0;

        width: 1px;
        height: 100%;

        background-color: $gray;
      }
    }
  }

  &--introduce {
    @media (min-width: $tablet-width) {
      order: 2;
      flex-basis: 260px;
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 400px;
    }
  }

  &--opinion,
  &--introduce {
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }
  }

  &--contacts,
  &--places,
  &--comment {
    @media (min-width: $tablet-width) {
      order: 3;
      flex-basis: 100%;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--places {
    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }
}

.review__legend {
  @include font();

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 21px;
  }

  &--opinion,
  &--places {
    text-align: center;

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &--comment {
    margin-bottom: 50px;
  }

  &--contacts,
  &--places,
  &--comment {
    text-align: center;

    @media (min-width: $tablet-width) {
      position: relative;

      align-self: center;
      width: 300px;
    }

    &::before,
    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 125px;
        height: 1px;

        background-color: $gray;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }
    }

    &::before {
      @media (min-width: $tablet-width) {
        left: -174px;
      }

      @media (min-width: $desktop-width) {
        left: -330px;
      }
    }

    &::after {
      @media (min-width: $tablet-width) {
        right: -174px;
      }

      @media (min-width: $desktop-width) {
        right: -330px;
      }
    }
  }

  .review__fieldset--contacts & {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}

.review__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  &--places {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.review__item {
  display: flex;
  align-items: center;

  &--input {
    margin-bottom: 20px;

    &:last-child {
      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }

  &--column {
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }

    &:first-child {
      @media (min-width: $desktop-width) {
        width: 400px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      @media (min-width: $desktop-width) {
        justify-content: flex-end;
        width: 500px;
        margin-left: auto;
      }
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    &:first-child {
      @media (min-width: $tablet-width) {
        margin-top: 15px;
      }
    }

    &:not(:last-child) {
      @media (max-width: $mobile-width) {
        margin-bottom: 45px;
      }
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      flex-basis: 230px;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 25%;
    }

    &:not(:last-child) {
      @media (max-width: $mobile-width) {
        margin-bottom: 55px;
      }
    }

    &:last-child {
      @media (max-width: $mobile-width) {
        margin-bottom: 15px;
      }
    }
  }
}

.review__input-wrapper {
  position: relative;

  width: 100%;

  @media (min-width: $desktop-width) {
    flex-basis: 315px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;

    background-color: $light-gray;
    background-repeat: no-repeat;
    background-position: center;

    pointer-events: none;
  }

  &--tel::before {
    background-image: url("../img/icon-phone.svg");
    background-size: 18px 18px;
  }

  &--mail::before {
    background-image: url("../img/icon-mail.svg");
    background-size: 16px 16px;
  }
}

.review__input,
.review__textarea {
  @include font();

  width: 100%;

  background-color: $lightest-gray;
  border: 4px solid transparent;

  transition: background-color $transition-time, border-color $transition-time;

  &:hover {
    background-color: $gray;
  }

  &:focus {
    background-color: transparent;
    border-color: $gray;
    outline: none;
  }
}

.review__input {
  height: 58px;
  padding: 0 15px;
}

.review__textarea {
  min-height: 160px;
  padding: 15px 20px;

  resize: vertical;
}

.review__input::-webkit-input-placeholder,
.review__textarea::-webkit-input-placeholder {
  font-family: $font-family;
  font-weight: 700;
  line-height: 26px;

  color: $black;
}

.review__input:-ms-input-placeholder,
.review__textarea:-ms-input-placeholder {
  font-family: $font-family;
  font-weight: 700;
  line-height: 26px;

  color: $black;
}

.review__input::-ms-input-placeholder,
.review__textarea::-ms-input-placeholder {
  font-family: $font-family;
  font-weight: 700;
  line-height: 26px;

  color: $black;
}

.review__input::placeholder,
.review__textarea::placeholder {
  font-family: $font-family;
  font-weight: 700;
  line-height: 26px;

  color: $black;
}

.review__label {
  margin-right: 15px;

  color: $darkest-gray;

  &--reverse {
    order: -1;
  }

  .review__item--column &--reverse {
    margin-bottom: 10px;
    margin-left: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}

.review__label--radio {
  @include font();

  position: relative;

  padding-left: 80px;

  text-transform: none;

  &::before,
  .review__radio:checked + &::after {
    content: "";
    position: absolute;

    border-radius: 50%;

    transition: background-color $transition-time;
  }

  &::before {
    top: calc(50% - 28px);
    left: 0;

    width: 56px;
    height: 56px;

    background-color: $lightest-gray;
  }

  .review__radio:checked + &::after {
    top: calc(50% - 10px);
    left: 18px;

    width: 20px;
    height: 20px;

    background-color: $darkest-gray;
  }

  &:hover::before,
  &:focus::before {
    background-color: $gray;
  }

  &:focus {
    outline: none;
  }

  &:active::before {
    background-color: $dark-gray;
  }

  .review__radio:checked + &:active::after {
    background-color: rgba($darkest-gray, 0.3);
  }
}

.review__label--checkbox {
  @include font();

  position: relative;

  padding-left: 80px;

  text-transform: none;

  &::before,
  .review__checkbox:checked + &::after {
    content: "";
    position: absolute;

    transition: background-color $transition-time;
  }

  &::before {
    top: calc(50% - 28px);
    left: 0;

    width: 56px;
    height: 56px;

    background-color: $lightest-gray;
    border-radius: 4px;
  }

  .review__checkbox:checked + &::after {
    top: calc(50% - 8px);
    left: 16px;

    width: 24px;
    height: 16px;

    background: url("../img/icon-tick.svg") no-repeat center;

    transition: opacity $transition-time;
  }

  &:hover::before,
  &:focus::before {
    background-color: $gray;
  }

  &:focus {
    outline: none;
  }

  &:active::before {
    background-color: $dark-gray;
  }

  .review__checkbox:checked + &:active::after {
    opacity: 0.3;
  }
}

.review__label-mobile-only {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.review__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    order: 3;
    flex-basis: 100%;
    width: 100%;
    margin-left: 0;
  }
}

.review__button {
  display: block;
  width: calc(100% - 40px);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    width: 50%;
    margin-left: 0;
  }
}

.review__notice {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    padding-left: 20px;

    text-align: right;
  }
}
