.search-hotel__inner {
  @include container();

  padding-top: 28px;
  padding-bottom: 50px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.search-hotel__headline {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.search-hotel .headline__title {
  display: block;
  margin-bottom: 15px;

  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 30px;
  }
}

.search-hotel__button {
  display: block;
  width: calc(100% - 40px);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 460px;
  }
}
