.socials {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;

  list-style: none;
}

.socials__link {
  position: relative;

  display: block;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;

  background-color: $light-blue;

  transition: background-color $transition-time;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-position: center;

    transition: opacity $transition-time;
  }

  &--tw::before {
    width: 18px;
    height: 14px;

    background-image: url("../img/icon-twitter.svg");
    background-size: 18px 14px;
  }

  &--fb::before {
    width: 9px;
    height: 18px;

    background-image: url("../img/icon-facebook.svg");
    background-size: 9px 18px;
  }

  &--yt::before {
    width: 20px;
    height: 14px;

    background-image: url("../img/icon-youtube.svg");
    background-size: 20px 14px;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  &:active::before {
    opacity: 0.3;
  }
}
