.video-controls {
  width: 100%;
  margin-top: -43px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $mobile-width) {
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    margin-top: -90px;
    padding: 35px;

    background-color: rgba($black, 0.6);
  }
}

.video-controls__top {
  position: relative;

  padding: 20px;

  background-color: rgba($black, 0.6);

  @media (min-width: $tablet-width) {
    position: absolute;
    top: calc(50% - 1px);
    left: 95px;

    width: 390px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.video-controls__button {
  padding: 0;
  vertical-align: middle;

  background-color: transparent;
  border: none;

  cursor: pointer;

  appearance: none;
}

.video-controls__thumb {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 55px;

  width: 10px;
  height: 10px;

  background-color: $white;
  border-radius: 50%;

  transition: background-color $transition-time;

  @media (min-width: $tablet-width) {
    left: 110px;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.8);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgba($white, 0.6);
  }
}

.video-controls__track {
  display: block;
  height: 3px;

  background-color: rgba($white, 0.2);

  @media (min-width: $tablet-width) {
    background-color: rgba($white, 0.3);
  }
}

.video-controls__bottom {
  display: flex;
  justify-content: flex-start;
  padding: 25px 20px;

  background-color: $lightest-gray;

  @media (min-width: $tablet-width) {
    padding: 0;

    background-color: transparent;
  }
}

.video-controls__button:not(.video-controls__thumb) {
  color: $darker-gray;

  transition: color $transition-time;

  @media (min-width: $tablet-width) {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $darkest-gray;

    @media (min-width: $tablet-width) {
      color: rgba($white, 0.6);
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: rgba($darkest-gray, 0.3);

    @media (min-width: $tablet-width) {
      color: rgba($white, 0.3);
    }
  }
}

.video-controls__replay {
  margin-right: auto;
}

.video-controls__subtitles {
  margin-right: 30px;
}

.video-controls__icon {
  vertical-align: middle;
}
