.video__inner {
  @include container();

  padding-bottom: 40px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-bottom: 45px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 90px;
    padding-left: 0;
  }
}

.video__headline {
  padding-top: 35px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 68px;
  }
}

.video .headline__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.video .headline__text {
  @media (max-width: $mobile-width) {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.video__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    overflow-x: hidden;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 200px;

    background: url("../img/video-mobile@1x.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      height: 100%;

      background-image: url("../img/video-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/video-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/video-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/video-desktop@2x.jpg");
      }
    }
  }
}

.video__player {
  display: block;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 500px;
  }
}

.video__player[poster] {
  object-fit: cover;
  object-position: center;

  @media (min-width: $tablet-width) {
    width: 800px;
    min-height: 500px;
  }
}
