// Colors

$white: #ffffff;
$black: #000000;

$blue-1: #81b3d2;
$blue-2: #669ec0;
$blue-3: #5496bd;

$gray-1: #f2f2f2;
$gray-2: #eeeeee;
$gray-3: #e5e5e5;
$gray-4: #d5d5d5;
$gray-5: #5c6870;
$gray-6: #333333;

$brown-1: #766357;
$brown-2: #604e43;

// Fonts

$font-family: "PT Sans", Arial, sans-serif;
