// Colors

$white: #ffffff;
$black: #000000;

$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;

$lightest-gray: #f2f2f2;
$lighter-gray: #eeeeee;
$light-gray: #e6e6e6;
$grey: #eaeaea;
$gray: #e5e5e5;
$dark-gray: #d5d5d5;
$darker-gray: #5c6870;
$darkest-gray: #333333;

$brown: #766357;
$dark-brown: #604e43;

// Fonts

$font-family: "PT Sans", arial, sans-serif;

// Z-index

$z-index: 1;

// Transition

$transition-time: 0.3s;

// Width

$tablet-width: 768px;
$desktop-width: 1200px;
